 .Navbar-content { 
 
  max-width: 700px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
} 
.Navbar-ceva{
  background-color: #C3E2B6;
}
.Cronometru{
  height: auto;
  text-align:center;
  background-color:#A1D28B ;
}
.navbar-light .navbar-nav .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  background-color: #A1D28B;
  box-shadow: none;
  margin-left: 10px;
  font-size: 25px;
  font-weight: bold;
  padding: 8px 12px;
  min-width: 90px;
  height: 50px;
  border: none;
  color: white !important;
}


.navbar .navbar-expand .navbar-light{
  justify-content: center;
  background-color: #C3E2B6;
 

}

.navbar  .navbar-brand{

  margin-right: 10px; 
  background: url("./images/Animedoro.png") , #C3E2B6 ;
  width: 200px;
  height: 40px;
  background-size: 200px 40px;
  background-repeat:no-repeat
}

.navbar-expand .navbar-collapse{
  padding-left: 190px;
  background-color: #C3E2B6;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #A1D28B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
